* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin-left: 100px;
}

input {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-secondary {
    background-color: #ccc;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.footer {
    position: relative;
    margin-top: 600px;
}

.search {
    margin: auto;
    width: 400px;
}